<app-nav-bar></app-nav-bar>
<div class="">
    <div class="row" style="border-bottom: 1px solid rgba(21, 24, 33, 0.25);">
        <div class="col" style="margin-left: 2%;">
            <h4>Quick Search Query </h4>
        </div>
        <div class="col">
            <input type="text" class="form-control">
        </div>
        <div class="col">
            <select class="form-select">
                <option>First Name</option>
                <option>Last Name</option>
                <option>Company Name</option>
                <option>Zip</option>
                <option>Engagement Score</option>
                <option>Created Date</option>
            </select>
        </div>
        <div class="col">
            <button class="task-button"></button>
        </div>
    </div>
    <div class="row" style="border-bottom: 1px solid rgba(21, 24, 33, 0.25);">
        <div class="col-12 " style="margin-left: 2%;">
            <b style="margin-right:70%;"> Account</b>
            35343 records found in 35269 Accounts
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 ">
        <div class="recentstyle1 text-center">
            <div class="row ">
                <div class="col-3">
                    <div class="tabvertical recentstyle">
                        Carter and Company,LLC<br>
                        (402)727-9177<br>
                        calendar<br>
                        phone call<br>
                        log<br>
                        post<br>
                        text
                    </div>
                </div>
                <div class="col-3">
                    <div class="tabvertical recentstyle">
                        Carter and Company,LLC<br>
                        (402)727-9177<br>
                        calendar<br>
                        phone call<br>
                        log<br>
                        post<br>
                        text
                    </div>
                </div>
                <div class="col-3">
                    <div class="tabvertical recentstyle">
                        Carter and Company,LLC<br>
                        (402)727-9177<br>
                        calendar<br>
                        phone call<br>
                        log<br>
                        post<br>
                        text
                    </div>
                </div>
                <div class="col-3">
                    <div class="tabvertical recentstyle">
                        Carter and Company,LLC<br>
                        (402)727-9177<br>
                        calendar<br>
                        phone call<br>
                        log<br>
                        post<br>
                        text
                    </div>
                </div>
                <div class="col-3">
                    <div class="tabvertical recentstyle">
                        Carter and Company,LLC<br>
                        (402)727-9177<br>
                        calendar<br>
                        phone call<br>
                        log<br>
                        post<br>
                        text
                    </div>
                </div>
                <div class="col-3">
                    <div class="tabvertical recentstyle">
                        Carter and Company,LLC<br>
                        (402)727-9177<br>
                        calendar<br>
                        phone call<br>
                        log<br>
                        post<br>
                        text
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>